.homes {
  background-color: #eaf0f9;

  &__container {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
  }

  &__title {
    margin-bottom: 104px;
  }

  &__slide-image-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__slider-wrapper {
    display: flex;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__slide-title {
    font-size: 24px;
    line-height: 117%;
    color: var(--general-blue);
  }

  &__slide-subtitle {
    font-size: 24px;
    line-height: 117%;
    color: var(--secondary-text);
  }

  &__slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 48%;
    left: calc(98% - 9px);
    border-radius: 50%;
    background-color: var(--general-white);
    z-index: 10;
  }

  &__slider-btn-icon {
    width: 9px;
    height: 21px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.swiper-button-next::after {
  display: none;
}
