
@import '../styles/fonts';
@import '../styles/global';
@import '../styles/grid';
@import '../styles/pages/top-section';
@import '../styles/pages/offer-section';
@import '../styles/pages/homes-section';
@import '../styles/pages/destinations-section';
@import '../styles/pages/advertisement-section';
@import '../styles/pages/reviews-section';
@import '../styles/pages/footer';
@import '../styles/pages/media1024';
@import '../styles/pages/media768';
@import '../styles/pages/media480';
@import 'node_modules/vanillajs-datepicker/sass/datepicker';
