-
  var cards = [
    {
      image: '../../../assets/images/destinations/regions/maldives.jpg',
      title: 'Maldives'
    },
    {
      image: '../../../assets/images/destinations/regions/spain.jpg',
      title: 'Spain'
    },
    {
      image: '../../../assets/images/destinations/regions/norway.jpg',
      title: 'Norway'
    },
    {
      image: '../../../assets/images/destinations/regions/island.jpg',
      title: 'Island'
    }
  ]
