-
  var listAbout = [
    {
      linkName: 'How Triphouse works'
    },
    {
      linkName: 'Careers'
    },
    {
      linkName: 'Privacy'
    },
    {
      linkName: 'Terms'
    }
  ]
  var listProperty = [
    {
      linkName: 'Guest houses'
    },
    {
      linkName: 'Hotels'
    },
    {
      linkName: 'Apartments'
    },
    {
      linkName: 'Villas'
    },
    {
      linkName: 'Holiday homes'
    },
    {
      linkName: 'Hostels'
    }
  ]
  var listSupport = [
    {
      linkName: 'Contact Customer Service'
    },
    {
      linkName: 'FAQ'
    },
  ]
