mixin homes-section
  section.homes
    .homes__container._container
      .homes__slider.swiper
        .homes__title._title-section Homes guests loves
        .homes__slider-wrapper.swiper-wrapper
      a.homes__slider-btn.swiper-button-next(href='#')
        svg.homes__slider-btn-icon
          use(href='#arrow-btn')
