-
  var menuBurger = [
    {
      link: '#',
      menuName: 'Stays'
    },
    {
      link: '#',
      menuName: 'Attractions'
    },
    {
      link: '#',
      menuName: 'What do we offer'
    },
    {
      link: '#',
      menuName: 'Home guest loves'
    },
    {
      link: '#',
      menuName: 'The best destinations'
    },
    {
      link: '#',
      menuName: 'Guest Reviews'
    },
  ]

  var optionsAdult = [
    {
      number: 1,
      name: '1 Adult'

    },
    {
      number: 2,
      name: '2 Adult'

    },
    {
      number: 3,
      name: '3 Adult'

    },
    {
      number: 4,
      name: '4 Adult'

    },
    {
      number: 5,
      name: '5 Adult'

    }
  ]

  var optionsChildren = [
    {
      number: 1,
      name: '1 Child'

    },
    {
      number: 2,
      name: '2 Children'

    },
    {
      number: 3,
      name: '3 Children'

    },
    {
      number: 4,
      name: '4 Children'

    },
    {
      number: 5,
      name: '5 Children'

    }
  ]

  var rooms = [
    {
      number: 1,
      name: '1 Room'

    },
    {
      number: 2,
      name: '2 Rooms'

    },
    {
      number: 3,
      name: '3 Rooms'

    },
    {
      number: 4,
      name: '4 Rooms'

    },
    {
      number: 5,
      name: '5 Rooms'

    }
  ]
